/*                  ________________
                |                |_____    __
                |  TYPOGRAPHIE   |     |__|  |_________
                |________________|    !|::|  |        /
   /\../\       |                \.____|::|_<--     <
  ( o_o  )_     |                      \::/  \._______\
   (u--u   \_)  |
    (||___   )==\
  ,dP"/b/=( /P"/b\
  |8 || 8\=== || 8
  `b,  ,P  `b,  ,P
    """`     """`                                        */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {font-family: "Roboto", serif;
	font-size: var(--fs-base);
	 color: var(--Jazzbleu-dark);
   align-items: center;
   background-image: url(Forme\ background.png);
   background-color: black;
   background-attachment: fixed;
  background-repeat: no-repeat;
     max-width: 70ch;
     margin: auto;

}
/* Fontscale */

h1{ font-size: 5.05rem; 
  text-align: center;
  margin-top: 0%;
	color: var(--Jazzbleu);
  font-style: border 1rem solid black;}
h2{
  font-size: 2rem; 
    text-align: center;
    margin-top: -4% ;
  
  }

  img{ max-width: 100%;}
    

:root{
--Jazzbleu: hsl(46, 100%, 44%);
--Jazzbleu-dark: hsl(0, 0%, 100%);

}
p{
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: justify ;
  margin: auto;
}
.container {
      display: flex;
      justify-content: center;
      align-items: center;
    }